body.jspec {
  margin: 45px 0;
  font: 12px "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  background: #efefef url(images/bg.png) top left repeat-x;
}
h1 {
	color:#aaa;
	font-size:24px;
	padding:20px 40px;
}
h2 {
	font-size: 20px;
	margin:0;
}
.doc {
  margin: -15px auto 0 auto;
  width: 1008px;
  background: url(images/vr.png) top left repeat-y;
}
.doc-top {
  position: relative;
  margin: 0 auto;
  width: 1008px;
  height: 70px;
  background: url(images/sprites.bg.png) top left no-repeat;
}
.doc-btm {
  color:#666;
	margin: 0 auto;
  width: 1008px;
  height: 30px;
  padding-top:10px;
  background: url(images/sprites.bg.png) bottom left no-repeat;
  text-align:center;
}
#jspec .loading {
  margin-top: -45px;
  width: 1008px;
  height: 80px;
  background: url(images/loading.gif) 50% 50% no-repeat;
}
.header {
  font-weight: normal;
  /*background: url(images/sprites.png) 0 -126px no-repeat;*/
  margin-top:15px;
  padding:0 40px;
}
.body {
	padding:0 40px 10px 40px;
	border-bottom:1px solid #ddd;
	/*display:none;*/
}
#jspec-title em {
  font-size: 10px;
  font-style: normal;
  color: #BCC8D1;
}
#jspec-report * {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}
#jspec-report {
  padding: 15px 40px;
	font: 11px "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
	color: #7B8D9B;
}
#jspec-report.has-failures {
  padding-bottom: 30px;
}
#jspec-report .hidden {
  display: none;
}
#jspec-report .heading {
  margin-left:180px;
	margin-top:-30px;
	position:absolute;
}
#jspec-report .heading span {
  padding-right: 10px;
}
#jspec-report .heading .passes em {
  color: #0ea0eb;
}
#jspec-report .heading .failures em {
  color: #FA1616;
}
#jspec-report table {
  font-size: 11px;
  border-collapse: collapse;
}
#jspec-report td {
  padding: 4px;
  text-indent: 30px;
  color: #7B8D9B;
}
#jspec-report tr.body {
  display: none;
}
#jspec-report tr.body pre {
  margin: 0;
  margin-top:-10px;
  padding: 0 0 10px 15px;
}
#jspec-report tr.even:hover + tr.body, 
#jspec-report tr.odd:hover + tr.body {
  display: block;
}
#jspec-report tr td:first-child em {
	display: block;
	clear: both;
  font-style: normal;
  font-weight: normal;
  color: #7B8D9B;
}
#jspec-report tr.even:hover, 
#jspec-report tr.odd:hover {
  text-shadow: 1px 1px 1px #fff;
  background: #F2F5F7;
}
#jspec-report td + td {
  padding-right: 0;
  width: 15px;
}
#jspec-report td.pass {
  background: url(images/sprites.png) 3px -11px no-repeat;
}
#jspec-report td.fail {
  background: url(images/sprites.png) 3px -162px no-repeat;
  font-weight: bold;
  color: #FC0D0D;
}
#jspec-report td.requires-implementation {
  background: url(images/sprites.png) 3px -337px no-repeat;
}
#jspec-report tr.description td {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 12px;
  font-weight: bold;
  text-indent: 0;
  color: #1a1a1a;
}
#jspec-report tr.description:first-child td {
  border-top: none;  
}
#jspec-report .assertion {
  display: block;
  float: left;
  margin: 0 0 0 1px;
  padding: 0;
  width: 1px;
  height: 5px;
  background: #7B8D9B;
}
#jspec-report .assertion.failed {
  background: red;
}
.jspec-sandbox {
  display: none;
}